<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">NG-IF Directive</h3>
        </div>
        <div class="panel-body">
          <app-structural>
            
          </app-structural>
        </div>
      </div>
    </div>
     <div class="col-xs-4 col-sm-4 col-md4 col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">NG-FOR Directive</h3>
        </div>
        <div class="panel-body">
          <app-for-directive>
            
          </app-for-directive>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md4 col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">NG-Switch-Case Directive</h3>
        </div>
        <div class="panel-body">
          <app-switch-case-directive>
            
          </app-switch-case-directive>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md4 col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">ngClass Directive</h3>
        </div>
        <div class="panel-body">
          <app-attribute-directive>
            
          </app-attribute-directive>
        </div>
      </div>
    </div>
     <div class="col-xs-4 col-sm-4 col-md4 col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">ngStyle Directive</h3>
        </div>
        <div class="panel-body">
          <app-style-directive>
            
          </app-style-directive>
        </div>
      </div>
    </div>
  </div>
</div>

