<h1>VIP PRO NO1</h1>
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Component To View</h3>
				</div>
				<div class="panel-body">
					<app-components-to-view>
						
					</app-components-to-view>
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Component To View</h3>
				</div>
				<div class="panel-body">
					<app-view-to-components>
						
					</app-view-to-components
>				</div>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">2 Way Binding</h3>
				</div>
				<div class="panel-body">
					<app-two-way-binding>
						
					</app-two-way-binding>
				</div>
			</div>
		</div>
	</div>
</div>
