	<div class="form-group">
		<label for="">Name</label>
		<input type="text" class="form-control" id="" placeholder="Input field" 
		[(ngModel)]="userName">
	</div>
	
	<button type="button" class="btn btn-primary" (click)="onSubmit()">button</button>

	<div class="form-group">
		<label for="">Phone</label>
		<input type="text" class="form-control" id="" placeholder="Input field" 
		[(ngModel)]="userAge">
	</div>
	<button type="button" class="btn btn-primary" (click)="onSubmitAge()">button</button>
